.lista-principal {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.botao-add {
    margin: 16px;
    bottom: 16px;
    position: sticky;
    z-index: 1;
    float: right;
    background-color: rgb(26,35,126) !important;
}


.card-content-container{
    background-color: rgba(63, 81, 181, 0.55);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.lista-principal-conexao {
    list-style-type: none;
    margin: 10px;
}

.lista-principal-conexao .mdl-card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 145px;
    position: relative;
}

.lista-principal-conexao .mdl-card__title-text{
    font-size: 18px;
    font-weight: bold;
    max-width: 195px;
}

.lista-principal-conexao .mdl-card__title{
    margin-bottom: 0;
}

.lista-principal-conexao .mdl-card__title, .lista-principal-conexao .mdl-card__supporting-text{
    color: white;
    word-wrap: break-word;
}

.lista-principal-conexao .mdl-card__menu{
    color: white;
}




.lista-principal-pesquisa {
    list-style-type: none;
    margin: 10px;
}

.lista-principal-pesquisa .mdl-card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    position: relative;
}

.lista-principal-pesquisa .mdl-card__title-text{
    font-size: 18px;
    font-weight: bold;
    max-width: 195px;
}

.lista-principal-pesquisa .mdl-card__title{
    margin-bottom: 0;
}

.lista-principal-pesquisa .mdl-card__title, .lista-principal-pesquisa .mdl-card__supporting-text{
    color: white;
    word-wrap: break-word;
}

.lista-principal-pesquisa .mdl-card__menu{
    color: white;
}



#filtro {
    background-color: rgb(197,202,233);
    text-align: center;
    font-size: 15px;
}



#dialogo-sobre{
    background-color: rgb(92,107,192);
    color: white;
    text-align: center;
}

#dialogo-sobre .autor{
    font-size: 14px;
    font-weight: bold;
    color: white;
}

#dialogo-sobre .email{
    vertical-align: bottom;
    color: black;
}




#dialogo-confirmar-exclusao{
    background-color: rgb(231, 75, 75);
    color: white;
    text-align: center;
}

#dialogo-confirmar-exclusao .titulo{
    font-size: 14px;
    font-weight: bold;
    color: white;
}

#dialogo-confirmar-exclusao .texto{
    color: white;
}